<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>Off-line library</title>
      <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
      <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
      <link rel="stylesheet" href="/static/styles.css">
  </head>
  <body>
    <div class="wrapper">
      <ul class="pagination">

        {% if current_page == 1 %}
            <li class="pagination__item">
              <a class="pagination__item-link" aria-disabled="true">
                Назад
              </a>
            </li>
          {% else %}
            <li class="pagination__item">
              <a class="pagination__item-link" href="index{{ current_page-1 }}.html">
                Назад
              </a>
            </li>
          {% endif %}
        {% for page_number in range(pages_amount) %}
          {% if page_number+1 == current_page %}
            <li class="pagination__item active">
              <a class="pagination__item-link">
                {{ page_number + 1 }}
              </a>
            </li>
          {% else %}
            <li class="pagination__item">
              <a class="pagination__item-link" href="index{{ page_number+1 }}.html">
                {{ page_number + 1 }}
              </a>
            </li>
          {% endif %}
        {% endfor %}
        {% if current_page == pages_amount %}
            <li class="pagination__item">
              <a class="pagination__item-link" aria-disabled="true">
                Вперед
              </a>
            </li>
          {% else %}
            <li class="pagination__item">
              <a class="pagination__item-link" href="index{{ current_page+1 }}.html">
                Вперед
              </a>
            </li>
          {% endif %}

      </ul>
      <div class="container">
        {% for book in books %}
          <article class="book">
            <div>
              <img src="/parsed/{{ book.img_path|urlencode }}" alt="{{ book.title }} {{ book.author }} ">
            </div>
            <div>
              <div>
                <h5>{{ book.title }}</h5>
                <p>{{ book.author }}</p>
                <h6>
                  {% for genre in book.genres %}
                    <span>{{ genre }}</span>
                  {% endfor %}
                </h6>
                <a href="parsed/{{ book.book_path|urlencode }}" target="_blank">Читать</a>
              </div>
            </div>
          </article>
        {% endfor %}
      </div>
    </div>
  </body>
</html>