body {
    grid-template-columns: unset;
}

ul li {
   margin:0;
   padding: 0;
   text-indent: 0;
   list-style-type: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

.book {
    display: flex;
    justify-content: space-between;
    width: 500px;
}

.pagination {
    display: flex;
    gap: 10px;
}

.pagination__item.active .pagination__item-link {
    text-decoration: none;
}